---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de...</h1>
  <p>
Esta pagina esta creada por Rodrigo.
  </p>
</BaseLayout>
<link href="https://chatcompose.azureedge.net/static/all/global/export/css/main.5b1bd1fd.css" rel="stylesheet">    <script async type="text/javascript" src="https://chatcompose.azureedge.net/static/all/global/export/js/main.a7059cb5.js?user=rabel&lang=ES" user="rabel" lang="ES"></script>  