---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
--- 
<BaseLayout title="Homepage">
  <h1>Radio IDEO </h1>
  <h2>Categorias</h2>
  
  <ul>
  <li>
  <a href="/infantil">Infantil</a>
  </li>
  <li>
  <a href="/primaria">Primaria</a>
  </li>
  <li>
  <a href="/eso">Eso</a>
  </li>
  <li>
  <a href="/bach">Bachillerato</a>
  </li>
  </ul>

  
  
</BaseLayout>
