---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Musica </h1>
  <a>Aqui podras escuchar musica sin limites y sin publicidad</a>
  
 <p>-Canciones populares del moomento</p>

<iframe width="360" height="115" src="https://www.youtube.com/embed/tbfsHnYROMA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><iframe width="360" height="115" src="https://www.youtube.com/embed/doLMt10ytHY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><iframe width="360" height="115" src="https://www.youtube.com/embed/khPFC_3kgpY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><iframe width="360" height="115" src="https://www.youtube.com/embed/e-CEd6xrRQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><iframe width="360" height="115" src="https://www.youtube.com/embed/j35S2UnzSU0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><iframe width="360" height="115" src="https://www.youtube.com/embed/B5mTGGLkoL0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe class="airtable-embed" src="https://airtable.com/embed/shru2kuAbkSSQWciD?backgroundColor=orange&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>

  
  
</BaseLayout>
