---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Programas de radio</h1>
<div class="list-of-arts">
  <div class="art-preview">
    <a href="/art">
      <div class="art-picture"></div>
    </a>
    <div class="description">
    insertar  texto
    </div>
  </div>
  <div class="art-preview">
   <a href="/art1">
    <div class="art-picture"></div>
    </a>
    <div class="description">
    insertar el texto
    </div>
  </div>
  <div class="art-preview">
   <a href="/art2">
    <div class="art-picture"></div>
    </a>
    <div class="description">
    insertar el texto
    </div>
  </div>
  <div class="art-preview">
   <a href="/art3">
    <div class="art-picture"></div>
    </a>
    <div class="description">
    insertar el texto
    </div>
  </div>
  <div class="art-preview">
   <a href="/art4">
    <div class="art-picture"></div>
    </a>
    <div class="description">
    insertar texo
    </div>
  </div>
  <div class="art-preview">
   <a href="/art5">
    <div class="art-picture"></div>
    </a>
    <div class="description">
    insertar texto
    </div>
  </div>
  </div>
</div>
</BaseLayout>