---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">


  <a> Puedes contactarnos usando este link <a href="https://discord.gg/pVCr2HwaQ6">https://discord.gg/pVCr2HwaQ6</a> </a> 
  
  <p>O puedes contactarnois a traves del bot(usar comando opciones para mas) </p> 
</BaseLayout>
