---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
--- 
<BaseLayout title="Homepage">
<h1>ESO</h1>
<audio controls>
    <source src="forelisa.mp3" type="audio/mp3">
</audio>
</BaseLayout>
