---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<div class="single__player clearfix">
			<div class="row">
				<div class="col-md-4">
					<img src="https://emisorasderadioonline.es/wp-content/uploads/2021/05/Futuro-FM.jpg" width="100%">
				</div>
				<div class="col-md-8">
					<div class="single-info">
						<h1 class="single-title">Futuro FM</h1> 
						<div style="font-size: 14px">
							<span><i></i></span>
						</div>
					</div>
				</div>
			</div>
			<audio preload="auto" controls="" autoplay="">
				<source src="https://server8.emitironline.com:8040/">
			</audio>
		</div>
</BaseLayout>