---
import MenuLayout from './MenuLayout.astro'
import FootLayout from './FootLayout.astro'
// src/layouts/BaseLayout.astro
const {title} = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Diego" />
    <meta name="keywords" content="HTML, CSS, Astro" />
    <title>Radio Ideo {title}</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/base.css')} />     
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div id="logo">
          <!-- Aquí irá el logo -->
          <a href="/">
            <img class="logo" src={Astro.resolve('../assets/logo.svg')} />
          </a>
        </div>
        <MenuLayout></MenuLayout>        
      </div>
    </div> <!-- header -->
    <!-- ======= Bloque de página ======= -->
    <div class="main">     
      <slot />
    </div>
    <!-- ======== Pie de página ========= -->
    <FootLayout></FootLayout>
    <link href="https://chatcompose.azureedge.net/static/all/global/export/css/main.5b1bd1fd.css" rel="stylesheet">    <script async type="text/javascript" src="https://chatcompose.azureedge.net/static/all/global/export/js/main.a7059cb5.js?user=rabel&lang=ES" user="rabel" lang="ES"></script>  
  </body>
  
</html>