<div id="menu">
  <ul>
    <li>
      <a href="/programs">Programas</a>
    </li>
    <li>
      <a href="/about">Musica</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/contact">Contacto</a>
    </li>
  </ul>
</div>